extends layout

block content
    .main.container
     h1= title
     h3 Are you not registered? Add your account and register here!
      .row
        .col-md-6.col-md-offset-3 |
          form(method='POST' action='/login')
            div.form-group
              label(for='email') Email
              input.form-control(type='text' id='email' placeholder='email' name='email')
            div.form-group
              label(for='password') Password
              input.form-control(type='password' id='password' placeholder='password' name='password')
            button.btn.btn-primary(type='submit') Log in
    section.css-table
    section.two-column
  section.css-table
    section.three-column
      section.cell
        h3 Etiam lobortis
        p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
        h3 each mongo_result, i in results
      section.cell
        h3 Phasellus lacus
        p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
      section.cell
        h3 Aliquam vulputate
        p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
